.sk-board {
  margin: 0 auto;
  width: 600px;
  height: auto;
  padding-top:100px;
}

.sk-row {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.sk-cell {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 1px solid black;
}

.selected {
  background-color: #8cc2db;
}

.number-button {
  border: 1px solid blue;
  width: 40px;
  height: 40px;
  margin-left: 5px;
}
