.sk-board {
  margin: 0 auto;
  width: 600px;
  height: auto;
  margin-top: 8rem;
}

.sk-row {
  margin: 0;
  padding: 0;
}

.sk-table {
  border-collapse: collapse;
}

.selected {
  background-color: #7D9FD3;
}

.number-buttons {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.number-button {
  border: 1px solid black;
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.utility-buttons {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.utility-button {
  height: 3.6rem;
  margin-right: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2rem;
}

.complete {
  color: red;
}
