.sk-board {
  margin: 0 auto;
  width: 600px;
  height: auto;
  padding-top:100px;
}

.sk-row {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.selected {
  background-color: #8cc2db;
}

.number-buttons {
  margin-top: 5px;
}

.number-button {
  border: 1px solid blue;
  width: 40px;
  height: 40px;
  margin-right: 7px;
}

.utility-buttons {
  margin-top: 10px;
}

.utility-button {
  height: 40px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
