.sk-cell {
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
  text-align: center;
  border: 1px solid black;
  font-size: 2em;
}

.custom {
  color: #1C75BC;
}

.pencil-note-cell {
  width: 1rem;
  height: 1rem;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.error {
  color: red;
}

.gray-background {
  background-color: #e3e3e3;
}

.pencil-notes-table {
  font-size: 0.8rem;
}

.selected {
  background-color: #94AFD8;
}

.highlighted {
  background-color: #E0E6F4;
}
