.sk-cell {
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
  text-align: center;
  border: 1px solid black;
  font-size: 2em;
}

.pencil-note {
  font-size: 0.6em;
}

.custom {
  color: blue;
}

.pencil-note-cell {
  width: 33%;
  height: 33%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.error {
  color: red;
}

.gray-background {
  background-color: #e3e3e3;
}
